@charset "UTF-8";
body {
  background-color: rgb(212, 211, 211);
}

h1 {
  padding-top: 20px;
}

.section_images {
  padding-top: 80px;
  justify-content: center;
  text-align: center;
}

.img1 {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  width: 300px;
  height: auto;
  transition: all 0.3s ease-out;
}

.img2 {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  width: 300px;
  height: auto;
  transition: all 0.3s ease-out;
}

.img3 {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  width: 300px;
  height: auto;
  transition: all 0.3s ease-out;
}

.img1:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  transform: scale(1.4, 1.4);
  opacity: 1;
}

.img2:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  transform: scale(1.4, 1.4);
  opacity: 1;
}

.img3:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  transform: scale(1.4, 1.4);
  opacity: 1;
}

.contenedor_master {
  margin: auto;
  width: 800px;
  height: auto;
}

.center_info {
  width: 550px;
  height: 520px;
  border-style: solid;
  text-decoration: none;
  float: left;
  padding: 10px;
}
.center_info ul {
  list-style-type: none;
}
.center_info li {
  color: #e2e2e2;
  background-color: #464645;
  float: left;
  margin-right: 10px;
  padding: 0 4px;
  font-size: small;
  margin-top: 10px;
}

.img_1_center {
  text-align: center;
}

#header {
  height: 80px;
  text-align: end;
  text-decoration: none;
  border-style: solid;
  padding: 20px;
}
#header #call {
  margin-top: auto;
}

.nav_right {
  border-style: solid;
  float: right;
  width: 250px;
  height: 520px;
  padding: 15px;
}
.nav_right p {
  font-size: small;
}
.nav_right .commet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.nav_right .items_right {
  font-size: 12px;
  background-color: #f5f5f2;
  padding: 0;
  min-height: 20px;
  border: 1px solid #000000;
  border-radius: 5px;
}
.nav_right .items_right li {
  color: #66665D;
  list-style-type: none;
  padding: 3px;
  cursor: pointer;
  border-bottom: 1px solid #000000;
}
.nav_right .items_right li:hover {
  color: #e2e2e2;
  background-color: #3f3f3e;
}

.images_footer {
  margin-top: 50px;
  margin: auto;
  width: 700px;
  height: 350px;
}

#imgs {
  width: 170px;
  height: auto;
}

.contener {
  background-color: #ffffff;
  width: auto;
  height: 200px;
  padding: 40px;
}

#image_user {
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttons {
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.buttons button {
  width: 65px;
  height: 30px;
  border: none;
  background-color: #8b8b8b;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);*/
  border-radius: 3px;
  margin: 12px;
}

#section_text {
  background-color: #7a7a7a;
  padding: 35px;
  color: #ffffff;
  height: 250px;
}
#section_text .title_one {
  display: flex;
  align-items: center;
  justify-content: center;
}
#section_text p {
  padding-top: 10px;
  text-align: center;
}

#contenedor_images {
  background-color: #ffffff;
  padding: 40px;
  color: #ffffff;
}
#contenedor_images #item_images {
  text-align: center;
  display: inline-block;
  background-color: #c3c2c2;
  border-radius: 10px;
  width: 200px;
  height: auto;
  padding: 30px;
}
#contenedor_images #item_images h5 {
  padding-top: 5px;
  text-align: start;
}
#contenedor_images #item_images p {
  padding: 5px;
  text-align: start;
}

.footer_max {
  width: auto;
  height: 200px;
  background-color: #7a7a7a;
  padding: 30px;
  color: #f5f5f2;
}
.footer_max h4 {
  color: #c3c2c2;
}
.footer_max .footer_ul {
  display: flex;
  align-items: center;
  justify-content: center;
  display: inline-block;
  padding: 25px;
}
.footer_max .redes {
  display: flex;
  align-items: center;
  justify-content: center;
  display: inline-block;
  padding: 25px;
}
.footer_max .redes a {
  text-decoration: none;
  color: #3f3f3e;
  width: 30px;
  height: 10px;
}

.encabezado {
  width: auto;
  height: 80px;
  background-color: #7a7a7a;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #c3c2c2;
  font-size: 25px;
}

.menúdeenlaces {
  width: 200px;
  background-color: bisque;
}
.menúdeenlaces .menus {
  display: flex;
  align-items: center;
  justify-content: center;
  border: #000000 solid 0.5px;
  width: auto;
  height: 55px;
}
.menúdeenlaces .bannerone {
  display: flex;
  align-items: center;
  justify-content: center;
  border: #000000 solid 0.5px;
  height: 120px;
  color: #ffffff;
  background-color: blue;
}

.contenido_principal {
  width: 442px;
  height: 450px;
  text-align: center;
  background-color: pink;
  display: flex;
  align-items: center;
  justify-content: center;
}

.area_banner {
  width: 473px;
  height: 450px;
  background-color: rgb(101, 101, 191);
}
.area_banner .banner {
  width: auto;
  height: 225px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: #c3c2c2 solid 1px;
}

.footer_3 {
  width: auto;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #66665D;
}

.master {
  display: grid;
  grid-template-columns: 200px 442px 473px;
}

.parte_derecha {
  width: 300px;
  height: auto;
}

.central {
  width: 442px;
  height: auto;
}

.parte_izquierda {
  width: 373px;
  height: auto;
}/*# sourceMappingURL=style.css.map */