body{

    background-image: url(/maqueta-tarea/img/lenguajes-de-programacion-mas-usados-1.jpg);
}

h1{
padding-top: 20px; 
}

.section_images{

    padding-top: 80px;
    justify-content: center;
    text-align: center;

}
 
.img1{

    width: 300px;
    height: auto;
    transition: all 0.3s ease-out;


}

.img2{

    width: 300px;
    height: auto;
    transition: all 0.3s ease-out;


}

.img3{

    width: 300px;
    height: auto;
    transition: all 0.3s ease-out;


}

.img1:hover{
    transform: scale(1.4, 1.4);

}

.img2:hover{

    transform: scale(1.4, 1.4);

}

.img3:hover{

    transform: scale(1.4, 1.4);

}